*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card button{
    padding: 0.4rem 0.7rem;
    border: 1px solid green;
    outline: none;
    border-radius: 5px;
    margin-top: 1rem;
}